*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-background-color: #831010;
    --color-accent: #db0000;
    --nav-background-color: #000000;
    --background-placeholder-url: url('https://via.placeholder.com/1920x900/333/fff?text=Your+Cinema+Hero+Image')
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-main {
    min-height: 750px;
}

main {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}