.hero-section {
    background: var(--background-placeholder-url) center center/cover no-repeat;
    height: 85vh;
}

.coming-soon-section .card {
    max-width: 400px;
    margin: 0 auto;
}
.coming-soon-section .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}